<footer class="footer">
  <div class="container">
  <p class="text-muted">
    This is a project made by Nathan Ko, Jacob Rothmel, Scott Mello, and Chuong Vu.
    <a href="https://github.com/nathanko711/umlbathroomfinder/">View on Github</a>
  </p>
  

  </div>
</footer>

    <!--<footer class="footer">-->
    <!--  <div class="container">-->
    <!--    <p class="text-muted">Place sticky footer content here.</p>-->
    <!--  </div>-->
    <!--</footer>-->